<form method="post">
    <p>
        <label>Name:</label><br />
        <input type="text" name=Name /><br /><br />
    </p>
    <p>
        <label>Description:</label><br />
        <textarea name=Description></textarea>
    </p>
    <p>
        <label>Content:</label><br />
        <textarea name=Content></textarea>
    </p>
    <p>
        <label>Img:</label><br />
        <input type="text" name=Img /><br /><br />
    </p>
    <p>
        <label>CategoryName:</label><br />
        <input type="text" name=Category.CategoryName /><br /><br />
    </p>
    <p>
        <label>CategoryDisplay:</label><br />
        <input type="text" name=Category.DisplayName /><br /><br />
    </p>
    <input type="submit" value="Отправить" />
</form>
