<form method="post">
    <p>
        <label>DisplayName:</label><br />
        <input type="text" name=DisplayName /><br /><br />
    </p>
    <p>
        <label>CategoyNameName:</label><br />
        <input type="text" name=CategoryName /><br /><br />
    </p>
    <input type="submit" value="Отправить" />
</form>
