@model WebLayer.Models.NewsViewModel
    <div class="text-center">
        <h1>@Model.Name</h1>
        <img class="img" src="@Model.Image" alt="@Model.Name" />
        < <p>@Model.Content</p>
    </div>
