@model IEnumerable<WebLayer.Models.CategoryViewModel>
    <style>
        .menu {
            padding: 5px;
        }

    </style>
    @{
        foreach (var category in Model)
        {

            <a asp-controller="News" asp-action="List" asp-route-category="@category.CategoryName">@category.DisplayName</a>
            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
            {
                <div class="menu">
                    <a asp-area="" asp-controller="News" asp-action="UpdateCategory" asp-route-Id=@category.Id>&#9999 Редактировать</a>
                    <a asp-area="" asp-controller="News" asp-action="DeleteCategory" asp-route-Id=@category.Id>&#10060 Удалить</a>
                </div>
            }
            <br />

        }
        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
        {
            <p><a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="CreateCategory">+ Создать</a></p>
        }
    }
