
    <form method="post">
        <p>
            <label>Id:</label><br />
            <label>@Model.Id</label><br />
        </p>
        <p>
            <label> Уверены что хотите удалить</label>
            <input id="Enable" name="Enable" type="checkbox" value="true" />
            <input name="Enable" type="hidden" value="false" />
        </p>
        <input type="submit" value="Отправить" />
    </form>