@model MVCNewsPortal.Models.NewsViewModel
    <div class="text-center">
        <h1>@Model.Name</h1>
        <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
        < <p>@Model.Content</p>
        <p><a class="btn-dark"  asp-area="" asp-controller="Home" asp-action="Update"asp-route-Id=@Model.Id>Update</a> </p>
        <p><a class="btn-dark" asp-area="" asp-controller="Home" asp-action="Delete"asp-route-Id=@Model.Id>Delete</a> </p>
    </div>
